@media only screen and (max-device-width: 450px) {
  h1 {
    text-align: center;
  }

  h2 {
    line-height: 68px;
    font-size: 64px;
  }

  h5 {
    font-size: 36px;
  }

  p {
    font-size: 24px;
  }

  p.card {
    font-size: 24px;
    margin-top: 12px;
    text-align: center;
    max-width: 70%;
  }

  a {
    font-size: 28px;
    color: #1e1e1e;
  }

  button {
    height: 80px;
    font-size: 24px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .content-container {
    width: 94vw;
    max-width: 94vw;
  }

  .barra-navegacao {
    width: 100%;
    margin-top: 24px;
  }

  .titulo-navegacao {
    font-size: 32px;
  }

  .links-navegacao {
    display: none;
  }

  .section-hero {
    height: 56vh;
  }

  .hero-info-title {
    font-size: 56px;
    margin-top: 12px;
  }

  .hero-info-subtitle {
    font-size: 32px;
    line-height: 36px;
    max-width: 70%;
    margin-bottom: 40px;
  }

  .hero-info-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: 24px;
  }

  .hero-info {
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 156px;
  }

  .hero-info-image {
    width: 390px;
  }

  .section-abilities {
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
  }

  .ability-cards-container {
    row-gap: 56px;
    justify-content: space-between;
    grid-template-columns: auto auto;
    margin-top: 44px;
    width: 100%;
  }

  .ability-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 44vw;
    height: auto;
    padding-top: 16px;
  }

  .section-portfolio-grid {
    row-gap: 36px;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin-top: 40px;
  }

  .section-portfolio-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 46vw;
    height: auto;
    padding: 24px 0px;
  }

  .section-portfolio-card-links {
    width: 40%;
  }

  .section-portfolio-card-icon-image {
    width: 40px;
    height: auto;
  }

  .section-experiences {
    padding-top: 60px;
    padding-bottom: 20px;
  }

  .section-experiences-card {
    width: 94%;
    margin-top: 40px;
  }

  .section-contact {
    padding-bottom: 60px;
  }

  .footer-content {
    width: 94vw;
  }

  .hero-info-icons-img {
    width: 56px;
    height: 56px;
  }

  .hero-info-icons-container {
    margin-top: 40px;
    width: 60%;
  }
}
